/* line 3, ../../../app/stylesheets/alerts.scss */
.alert_separator {
  border-top: 1px dotted #aaa;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 10, ../../../app/stylesheets/alerts.scss */
.alert {
  padding-left: 40px;
  padding-right: 40px;
  margin: 1px 2px 2px 2px;
  width: auto;
  padding: 20px 20px 6px 6px; }
  /* line 16, ../../../app/stylesheets/alerts.scss */
  .alert .alert-label {
    color: black;
    font-weight: bold;
    marge-top: 5px; }
  /* line 21, ../../../app/stylesheets/alerts.scss */
  .alert .labelled_region {
    margin-bottom: 15px; }
  /* line 24, ../../../app/stylesheets/alerts.scss */
  .alert .links {
    float: right;
    opacity: 0.5; }
    /* line 27, ../../../app/stylesheets/alerts.scss */
    .alert .links:hover {
      opacity: 1.0; }
  /* line 31, ../../../app/stylesheets/alerts.scss */
  .alert .repetition_group {
    margin-left: 40px; }
  /* line 34, ../../../app/stylesheets/alerts.scss */
  .alert li {
    width: 400px;
    clear: right; }
    /* line 37, ../../../app/stylesheets/alerts.scss */
    .alert li .delete_item_link {
      float: right; }
  /* line 41, ../../../app/stylesheets/alerts.scss */
  .alert .add_criteria_line select, .alert .add_recipients_line select, .alert .repetition_group input[type="text"] {
    vertical-align: baseline; }

/* line 47, ../../../app/stylesheets/alerts.scss */
.alert.blank {
  display: none; }

/* line 51, ../../../app/stylesheets/alerts.scss */
.alert.editing .displaying {
  display: none; }

/* line 55, ../../../app/stylesheets/alerts.scss */
.alert.displaying .editing {
  display: none; }

/* line 59, ../../../app/stylesheets/alerts.scss */
.alert .form-actions {
  background-color: #fcf8e3; }
