.lock_date {
  color: #444444;
  padding-left: 20px;
  font-weight: bold; }

#submit_assignment .submission_comment_textarea {
  width: 300px;
  height: 20px;
  padding: 4px 6px; }
  #submit_assignment .submission_comment_textarea.focus_or_content {
    width: 100%;
    height: 72px; }

#edit_assignment_form .advanced-togglable-true {
  margin-top: 18px;
  border-top: 1px solid #cccccc;
  padding-top: 18px; }
#edit_assignment_form .advanced-togglable-false {
  margin-top: 18px; }
#edit_assignment_form #group_category_selector,
#edit_assignment_form #assignment_peer_reviews_fields {
  margin-bottom: 0; }
#edit_assignment_form .frozen-description {
  padding: 15px;
  overflow-y: auto;
  height: 200px;
  border: 1px solid #aaaaaa;
  resize: vertical; }
#edit_assignment_form .explanation {
  font-size: 0.8em;
  color: #888888; }

#assignment_turnitin_settings {
  min-width: 400px; }
  #assignment_turnitin_settings label {
    width: 100%; }
  #assignment_turnitin_settings .js-exclude-small-matches-options {
    margin-left: 21px; }
    #assignment_turnitin_settings .js-exclude-small-matches-options input[type="radio"] {
      margin-top: 13px; }

#assignment_show .assignment-title {
  display: table-row;
  width: 100%; }
#assignment_show .title-content {
  display: table-cell;
  width: 100%;
  vertical-align: bottom; }
#assignment_show .edit-content {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
  min-width: 200px;
  padding-bottom: 12px; }
#assignment_show .undo-main-margins {
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -1em; }
#assignment_show .student-assignment-overview {
  list-style: none;
  width: 100%;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  font-size: 1.1em;
  padding: 0.5em 0.25em;
  margin: 0 0 1em 0; }
  #assignment_show .student-assignment-overview li {
    display: inline-block; }
  #assignment_show .student-assignment-overview .title {
    font-weight: bold;
    padding-right: 0.5em; }
  #assignment_show .student-assignment-overview .value {
    padding-right: 2.5em; }
#assignment_show .form-horizontal.display-only .control-group {
  margin-bottom: 0; }
#assignment_show .assignment_dates {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1em; }
  #assignment_show .assignment_dates tr th {
    font-weight: bold;
    padding: 0.25em 0.5em; }
  #assignment_show .assignment_dates tr td {
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    padding: 0.25em 0.5em; }
#assignment_show .description.student-version {
  min-height: 260px; }
#assignment_show .description.teacher-version {
  padding: 15px;
  overflow-y: auto;
  height: 200px;
  border: 1px solid #aaaaaa;
  resize: vertical; }
#assignment_show .control-group .control-label {
  font-weight: bold; }
#assignment_show .control-group .controls .value {
  display: block;
  padding-top: 5px; }
