/* line 3, ../../../app/stylesheets/g_assignments.scss */
#groups {
  /*== Icons ==*/
  /*== Assignment groups ==*/
  /*== Individual assignments ==*/
  /*== Loaders ==*/
  /*== Add/edit assignment form ==*/ }
  /* line 6, ../../../app/stylesheets/g_assignments.scss */
  #groups .move_icon, #groups .group_move_icon {
    cursor: move; }
  /* line 7, ../../../app/stylesheets/g_assignments.scss */
  #groups .move_icon, #groups .group_move_icon, #groups .links a {
    left: -10000px;
    position: relative; }
    /* line 13, ../../../app/stylesheets/g_assignments.scss */
    #groups .move_icon:focus, #groups .move_icon.focus, #groups .group_move_icon:focus, #groups .group_move_icon.focus, #groups .links a:focus, #groups .links a.focus {
      left: auto;
      text-decoration: none; }
  /* line 20, ../../../app/stylesheets/g_assignments.scss */
  #groups .group_assignment .content:hover .move_icon, #groups .group_assignment .content:hover .group_move_icon, #groups .group_assignment .content:hover .links a, #groups .header_content:hover .move_icon, #groups .header_content:hover .group_move_icon, #groups .header_content:hover .links a {
    left: auto;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
    /* line 25, ../../../app/stylesheets/g_assignments.scss */
    #groups .group_assignment .content:hover .move_icon:hover, #groups .group_assignment .content:hover .group_move_icon:hover, #groups .group_assignment .content:hover .links a:hover, #groups .header_content:hover .move_icon:hover, #groups .header_content:hover .group_move_icon:hover, #groups .header_content:hover .links a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 30, ../../../app/stylesheets/g_assignments.scss */
  #groups .assignment_group {
    background: #f8fafb;
    border: 1px solid #b6babf;
    margin-bottom: 16px; }
  /* line 36, ../../../app/stylesheets/g_assignments.scss */
  #groups .group_header {
    overflow: hidden;
    *zoom: 1;
    color: #555555;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #eaeef1;
    background-image: -moz-linear-gradient(top, #f0f3f5, #e1e6eb);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f3f5), to(#e1e6eb));
    background-image: -webkit-linear-gradient(top, #f0f3f5, #e1e6eb);
    background-image: -o-linear-gradient(top, #f0f3f5, #e1e6eb);
    background-image: linear-gradient(to bottom, #f0f3f5, #e1e6eb);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0F3F5', endColorstr='#FFE1E6EB', GradientType=0);
    border-color: #e1e6eb #e1e6eb #b3c0cc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e1e6eb;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-bottom: 1px solid #b6babf;
    padding: 4px 12px;
    text-shadow: none; }
    /* line 496, ../../../app/stylesheets/bootstrap/_mixins.scss */
    #groups .group_header:hover, #groups .group_header:active, #groups .group_header.active, #groups .group_header.disabled, #groups .group_header[disabled] {
      color: #555555;
      background-color: #e1e6eb;
      *background-color: #d2d9e1; }
    /* line 504, ../../../app/stylesheets/bootstrap/_mixins.scss */
    #groups .group_header:active, #groups .group_header.active {
      background-color: #c2cdd7 \9; }
    /* line 42, ../../../app/stylesheets/g_assignments.scss */
    #groups .group_header .name {
      font-weight: bold; }
  /* line 47, ../../../app/stylesheets/g_assignments.scss */
  #groups .assignment_list {
    min-height: 8px; }
  /* line 52, ../../../app/stylesheets/g_assignments.scss */
  #groups .group_assignment {
    display: table;
    width: 100%; }
    /* line 56, ../../../app/stylesheets/g_assignments.scss */
    #groups .group_assignment .content {
      display: table-row; }
  /* line 59, ../../../app/stylesheets/g_assignments.scss */
  #groups .data, #groups .cell {
    border-bottom: 1px solid #e4e5e7;
    border-top: 1px solid white;
    display: table-cell;
    padding: 4px 0;
    vertical-align: middle;
    /*== Table cells ==*/ }
    /* line 67, ../../../app/stylesheets/g_assignments.scss */
    #groups .data.move, #groups .cell.move {
      padding-left: 12px;
      width: 20px; }
    /* line 71, ../../../app/stylesheets/g_assignments.scss */
    #groups .data.assignment_title, #groups .cell.assignment_title {
      max-width: 200px;
      min-width: 200px;
      width: 25%; }
    /* line 76, ../../../app/stylesheets/g_assignments.scss */
    #groups .data.assignment_due, #groups .cell.assignment_due {
      width: 25%; }
    /* line 79, ../../../app/stylesheets/g_assignments.scss */
    #groups .data.links, #groups .cell.links {
      padding-right: 12px;
      width: 40px; }
  /* line 86, ../../../app/stylesheets/g_assignments.scss */
  #groups .load_pending {
    background: url(/images/ajax-loader-small-ccc.gif) center left no-repeat; }
  /* line 91, ../../../app/stylesheets/g_assignments.scss */
  #groups .add_assignment_form {
    display: table-row; }
    /* line 94, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .vdd_no_edit {
      margin-top: 5px;
      display: inline-block; }
    /* line 99, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .cell.first {
      padding-left: 6px; }
    /* line 100, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .cell.last {
      padding-right: 6px; }
    /* line 102, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .no_points {
      display: none; }
    /* line 103, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .points_uneditable .points {
      display: none; }
    /* line 104, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .points_uneditable .no_points {
      display: inline; }
    /* line 106, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form label, #groups .add_assignment_form select {
      font-size: 0.8em; }
    /* line 108, ../../../app/stylesheets/g_assignments.scss */
    #groups .add_assignment_form .input-append {
      display: inline; }

/* line 115, ../../../app/stylesheets/g_assignments.scss */
#assignments_for_student .group_assignment {
  min-height: 40px;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 3px; }
  /* line 120, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment.last {
    border-bottom-width: 0px; }
  /* line 123, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment .content {
    padding-top: 9px; }
  /* line 126, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment .details {
    display: block;
    margin-left: 60px;
    font-size: 0.8em;
    margin-bottom: 5px; }
  /* line 132, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment .grade {
    display: none; }
  /* line 135, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment.group_assignment_graded {
    color: #aaaaaa; }
    /* line 137, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment.group_assignment_graded a {
      color: #888888; }
    /* line 140, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment.group_assignment_graded a.grade {
      color: #444444;
      font-weight: bold;
      display: inline; }
  /* line 147, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment.group_assignment_ungraded .assignment_due {
    font-weight: bold;
    color: #888822; }
  /* line 153, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment.group_assignment_overdue .assignment_due {
    font-weight: bold;
    color: #cc0000; }
  /* line 158, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment:hover {
    background-color: #eeeeee; }
    /* line 160, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment:hover .course_name {
      opacity: 1 !important;
      -moz-opacity: 1 !important;
      filter: alpha(opacity=1) !important; }
  /* line 166, ../../../app/stylesheets/g_assignments.scss */
  #assignments_for_student .group_assignment div.data {
    float: left;
    border: 0px;
    padding: 2px 5px 2px 5px; }
    /* line 170, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment div.data.assignment_title {
      width: 40%;
      margin-left: 30px; }
      /* line 173, ../../../app/stylesheets/g_assignments.scss */
      #assignments_for_student .group_assignment div.data.assignment_title .title {
        font-size: 1.3em;
        font-weight: bold; }
      /* line 177, ../../../app/stylesheets/g_assignments.scss */
      #assignments_for_student .group_assignment div.data.assignment_title .course_name {
        font-size: 0.8em;
        line-height: 1.2em;
        padding: 2px 7px;
        color: inherit;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
        opacity: 0.75;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border-radius: 10px; }
    /* line 186, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment div.data.assignment_due {
      width: 30%;
      font-size: 1em;
      display: block; }
    /* line 191, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment div.data.assignment_points {
      font-size: 1em; }
    /* line 194, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment div.data.links {
      display: none; }
    /* line 197, ../../../app/stylesheets/g_assignments.scss */
    #assignments_for_student .group_assignment div.data.move {
      display: none; }
/* line 203, ../../../app/stylesheets/g_assignments.scss */
#assignments_for_student .assignment_list.show_context .group_assignment .context_name {
  display: block; }

/* line 210, ../../../app/stylesheets/g_assignments.scss */
#groups_for_student .assignment_group {
  margin: 0 0.5em 1.5em 0.5em;
  width: auto;
  border: 1px solid #999999;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  /* line 216, ../../../app/stylesheets/g_assignments.scss */
  #groups_for_student .assignment_group .group_move_icon, #groups_for_student .assignment_group .add_assignment_link, #groups_for_student .assignment_group .edit_group_link, #groups_for_student .assignment_group .delete_group_link {
    display: none; }
  /* line 219, ../../../app/stylesheets/g_assignments.scss */
  #groups_for_student .assignment_group .group_move {
    visibility: hidden; }
  /* line 223, ../../../app/stylesheets/g_assignments.scss */
  #groups_for_student .assignment_group div.header {
    width: auto;
    border-bottom: 1px solid #999999;
    background-color: #dddddd;
    padding-left: 25px;
    color: #666666;
    margin-bottom: 0px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px; }
    /* line 231, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group div.header .group_name {
      font-size: 1.5em;
      font-weight: bold; }
    /* line 235, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group div.header .more_info_brief {
      line-height: 1.7em; }
    /* line 238, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group div.header .links {
      display: none; }
  /* line 242, ../../../app/stylesheets/g_assignments.scss */
  #groups_for_student .assignment_group div.padding {
    padding: 0px 0px 5px 0px;
    display: none; }
  /* line 247, ../../../app/stylesheets/g_assignments.scss */
  #groups_for_student .assignment_group .group_assignment {
    min-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #444444;
    border-bottom: 1px solid #eeeeee; }
    /* line 252, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group .group_assignment:hover {
      background-color: #eeeeee; }
    /* line 255, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group .group_assignment .content {
      padding-top: 3px; }
    /* line 258, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group .group_assignment.group_assignment_graded {
      color: #aaaaaa; }
      /* line 260, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment.group_assignment_graded a {
        color: #888888; }
    /* line 265, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group .group_assignment.group_assignment_overdue .assignment_due {
      font-weight: bold;
      color: #cc0000; }
    /* line 270, ../../../app/stylesheets/g_assignments.scss */
    #groups_for_student .assignment_group .group_assignment div.data {
      float: left;
      border: 0px;
      padding: 2px 5px 2px 5px; }
      /* line 274, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.assignment_title {
        width: 40%;
        font-weight: bold;
        margin-left: 30px; }
        /* line 278, ../../../app/stylesheets/g_assignments.scss */
        #groups_for_student .assignment_group .group_assignment div.data.assignment_title .context_name {
          font-weight: normal;
          font-size: 0.7em;
          padding-left: 10px;
          color: #888888; }
      /* line 285, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.assignment_due {
        width: 30%;
        font-size: 0.8em;
        display: block; }
      /* line 290, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.assignment_points {
        font-size: 0.8em; }
      /* line 293, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.buttons {
        float: right; }
      /* line 296, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.links {
        display: none; }
      /* line 299, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.name {
        margin-right: 10px;
        font-weight: bold;
        width: 200px; }
      /* line 304, ../../../app/stylesheets/g_assignments.scss */
      #groups_for_student .assignment_group .group_assignment div.data.move {
        display: none; }

/* line 313, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table input.weight {
  width: 35px; }
/* line 316, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table th, #group_weight_table td {
  padding: 1px; }
/* line 319, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table th {
  font-weight: bold;
  border-bottom: 1px solid #888888; }
/* line 323, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table td.total {
  font-weight: bold; }
/* line 327, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table tr.group_weight .move {
  cursor: move;
  visibility: hidden; }
/* line 331, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table tr.group_weight td {
  border-bottom: 1px solid #aaaaaa; }
/* line 336, ../../../app/stylesheets/g_assignments.scss */
#group_weight_table .group_weight_hover .move {
  visibility: visible; }

/* line 343, ../../../app/stylesheets/g_assignments.scss */
.show-only-from a {
  display: block;
  margin-top: 3px;
  color: #595959;
  padding-left: 5px; }

/* line 352, ../../../app/stylesheets/g_assignments.scss */
table.full_assignment_table select {
  width: 140px !important; }

/* line 356, ../../../app/stylesheets/g_assignments.scss */
#submit_from_external_tool_form #external_tool_submission_details {
  padding-left: 10px; }
  /* line 358, ../../../app/stylesheets/g_assignments.scss */
  #submit_from_external_tool_form #external_tool_submission_details.not_selected {
    color: #888;
    font-style: italic; }
  /* line 362, ../../../app/stylesheets/g_assignments.scss */
  #submit_from_external_tool_form #external_tool_submission_details.file_submission {
    font-weight: bold;
    padding-left: 28px;
    background: url(/images/file.png) no-repeat 10px center;
    font-size: 16px; }
  /* line 368, ../../../app/stylesheets/g_assignments.scss */
  #submit_from_external_tool_form #external_tool_submission_details.url_submission {
    font-weight: bold;
    padding-left: 28px;
    background: url(/images/link.png) no-repeat 10px center;
    font-size: 16px; }
/* line 376, ../../../app/stylesheets/g_assignments.scss */
#submit_from_external_tool_form.has_submission .tools {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7; }
/* line 380, ../../../app/stylesheets/g_assignments.scss */
#submit_from_external_tool_form .tools {
  list-style-type: none;
  margin-right: 20px; }
  /* line 383, ../../../app/stylesheets/g_assignments.scss */
  #submit_from_external_tool_form .tools .tool {
    display: block;
    padding: 2px 5px;
    font-size: 14px; }
    /* line 387, ../../../app/stylesheets/g_assignments.scss */
    #submit_from_external_tool_form .tools .tool img {
      vertical-align: middle; }
    /* line 390, ../../../app/stylesheets/g_assignments.scss */
    #submit_from_external_tool_form .tools .tool:hover {
      background: #eee;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }

/*== Multiple Due Dates Tooltip ==*/
/* line 399, ../../../app/stylesheets/g_assignments.scss */
.vdd_tooltip_link {
  cursor: pointer; }

/* line 402, ../../../app/stylesheets/g_assignments.scss */
.dl-horizontal.vdd_tooltip_content {
  margin: 7px 0; }
  /* line 404, ../../../app/stylesheets/g_assignments.scss */
  .dl-horizontal.vdd_tooltip_content dt {
    width: 95px;
    white-space: normal;
    line-height: 12px;
    margin-bottom: 5px; }
  /* line 410, ../../../app/stylesheets/g_assignments.scss */
  .dl-horizontal.vdd_tooltip_content dd {
    margin-left: 105px;
    width: 95px;
    line-height: 12px;
    text-align: left; }
