/* line 5, ../../../app/stylesheets/g_context_modules.sass */
#context_modules {
  min-width: 20px; }

/* line 7, ../../../app/stylesheets/g_context_modules.sass */
.context_module {
  border-top: 1px dotted #aaaaaa;
  border-bottom: 1px dotted #aaaaaa;
  background-color: #f2f3f4;
  min-width: 20px;
  margin-bottom: 15px; }
  /* line 15, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .links a, .context_module .reorder_module_link, .context_module .move_item_link {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    text-decoration: none; }
    /* line 18, ../../../app/stylesheets/g_context_modules.sass */
    .context_module .links a:hover, .context_module .reorder_module_link:hover, .context_module .move_item_link:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 20, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .reorder_module_link, .context_module .move_item_link {
    padding-left: 2px; }
  /* line 22, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .links {
    padding-right: 10px;
    text-align: right;
    white-space: nowrap; }
  /* line 26, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .header {
    background-color: #e4e6e8;
    border-bottom: 1px dotted #aaaaaa;
    padding: 6px 0;
    color: #323232; }
    /* line 31, ../../../app/stylesheets/g_context_modules.sass */
    .context_module .header .links {
      float: right; }
  /* line 34, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .completion_status .complete_icon,
  .context_module .locked_icon,
  .context_module .progression_details_link,
  .context_module .header .links,
  .context_module .add_module_item_link,
  .context_module .manage_module,
  .context_module .delete_prerequisite_link,
  .context_module .expand_module_link,
  .context_module .collapsed,
  .context_module .context_module_item .links {
    display: none; }
  /* line 46, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.editable_context_module .progression_details_link,
  .context_module.editable_context_module .reorder_module_link,
  .context_module.editable_context_module .add_module_item_link,
  .context_module.editable_context_module .edit_module_link,
  .context_module.editable_context_module .delete_module_link,
  .context_module.editable_context_module .delete_prerequisite_link {
    display: inline; }
  /* line 53, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.editable_context_module .delete_prerequisite_link {
    text-decoration: none;
    padding-left: 3px; }
  /* line 56, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.editable_context_module .header .links,
  .context_module.editable_context_module .manage_module {
    display: block; }
  /* line 59, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.editable_context_module .completion_status {
    visibility: hidden; }
  /* line 62, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.editable_context_module .context_module_item td.links {
    display: table-cell; }
  /* line 65, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.collapsed_module .expand_module_link {
    display: inline; }
  /* line 67, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.collapsed_module .collapse_module_link,
  .context_module.collapsed_module .content {
    display: none; }
  /* line 70, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.collapsed_module .collapsed {
    display: block; }
  /* line 74, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.completed .completion_status .complete_icon {
    display: inline; }
  /* line 76, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.completed .completion_status .incomplete_icon,
  .context_module.completed .completion_status .locked_icon {
    display: none; }
  /* line 80, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.locked_module .context_module_item {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
    /* line 82, ../../../app/stylesheets/g_context_modules.sass */
    .context_module.locked_module .context_module_item .title {
      display: none; }
    /* line 84, ../../../app/stylesheets/g_context_modules.sass */
    .context_module.locked_module .context_module_item .locked_title {
      display: inline-block; }
    /* line 86, ../../../app/stylesheets/g_context_modules.sass */
    .context_module.locked_module .context_module_item .completion_requirement {
      color: #aaaaaa; }
  /* line 89, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.locked_module .completion_status .complete_icon,
  .context_module.locked_module .completion_status .incomplete_icon {
    display: none; }
  /* line 92, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.locked_module .completion_status .locked_icon {
    display: inline; }
  /* line 94, ../../../app/stylesheets/g_context_modules.sass */
  .context_module.locked_module .module_item_icons {
    opacity: 0.8; }
  /* line 96, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .manage_module, .context_module .show_hide, .context_module .progression_container {
    font-size: 0.8em;
    float: left;
    padding-left: 15px; }
  /* line 100, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .progression_container {
    float: right; }
  /* line 102, ../../../app/stylesheets/g_context_modules.sass */
  .context_module a.add-small {
    line-height: normal; }
  /* line 104, ../../../app/stylesheets/g_context_modules.sass */
  .context_module div.footer {
    overflow: hidden;
    *zoom: 1;
    padding: 13px 10px 2px;
    margin-left: 15px;
    color: #666666; }
  /* line 109, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .prerequisites .criterion {
    float: left;
    border: 1px solid #aaaaaa;
    background-color: #ddeeff;
    margin-left: 3px;
    padding: 0.2em 4px;
    font-size: 0.8em;
    color: #444444; }

/* line 118, ../../../app/stylesheets/g_context_modules.sass */
.context_module_item {
  border-bottom: 1px dotted #e0e0e0; }
  /* line 121, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.indent_1 .type_icon {
    padding-right: 20px; }
  /* line 124, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.indent_2 .type_icon {
    padding-right: 40px; }
  /* line 127, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.indent_3 .type_icon {
    padding-right: 60px; }
  /* line 130, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.indent_4 .type_icon {
    padding-right: 80px; }
  /* line 133, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.indent_5 .type_icon {
    padding-right: 100px; }
  /* line 135, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .type_icon {
    display: inline-block; }
    /* line 137, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item .type_icon i {
      color: #777777;
      display: none; }
    /* line 140, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item .type_icon .icon-document {
      display: inline-block; }
  /* line 143, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.attachment .icon-document {
    display: none; }
  /* line 145, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.attachment .icon-download {
    display: inline-block; }
  /* line 148, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.discussion_topic .icon-document {
    display: none; }
  /* line 150, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.discussion_topic .icon-discussion {
    display: inline-block; }
  /* line 153, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.assignment .icon-document {
    display: none; }
  /* line 155, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.assignment .icon-assignment {
    display: inline-block; }
  /* line 158, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.quiz .icon-document {
    display: none; }
  /* line 160, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.quiz .icon-quiz {
    display: inline-block; }
  /* line 163, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.external_url .icon-document, .context_module_item.context_external_tool .icon-document {
    display: none; }
  /* line 165, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.external_url .icon-link, .context_module_item.context_external_tool .icon-link {
    display: inline-block; }
  /* line 168, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_sub_header .type_icon i {
    display: none; }
  /* line 170, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_sub_header .completion_status {
    display: none; }
  /* line 172, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .completion_requirement {
    font-size: 0.8em;
    padding-left: 5px;
    margin-top: -4px;
    color: #888888;
    display: block; }
    /* line 178, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item .completion_requirement .requirement_type {
      display: none; }
      /* line 180, ../../../app/stylesheets/g_context_modules.sass */
      .context_module_item .completion_requirement .requirement_type .fulfilled {
        display: none; }
  /* line 183, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.min_score_requirement .completion_requirement,
  .context_module_item.min_score_requirement .min_score_requirement {
    display: block; }
  /* line 187, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.max_score_requirement .completion_requirement,
  .context_module_item.max_score_requirement .max_score_requirement {
    display: block; }
  /* line 191, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.must_view_requirement .completion_requirement,
  .context_module_item.must_view_requirement .must_view_requirement {
    display: block; }
  /* line 195, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.must_contribute_requirement .completion_requirement,
  .context_module_item.must_contribute_requirement .must_contribute_requirement {
    display: block; }
  /* line 199, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.must_submit_requirement .completion_requirement,
  .context_module_item.must_submit_requirement .must_submit_requirement {
    display: block; }
  /* line 202, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .complete_item_icon {
    display: none; }
  /* line 207, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.completed_item .completion_requirement .requirement_type .fulfilled {
    display: inline;
    padding-left: 12px;
    background: transparent url(/images/pass.10px.dim.png) no-repeat left center; }
  /* line 211, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.completed_item .completion_requirement .requirement_type .unfulfilled {
    display: none; }
  /* line 213, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.completed_item .complete_item_icon {
    display: inline; }
  /* line 215, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.completed_item .incomplete_item_icon {
    display: none; }
  /* line 217, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.after_current_position {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5; }
    /* line 219, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item.after_current_position .title {
      display: none; }
    /* line 221, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item.after_current_position .locked_title {
      display: inline-block; }
    /* line 223, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item.after_current_position .completion_requirement {
      color: #aaaaaa; }
  /* line 225, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .module_item_icons {
    vertical-align: top;
    padding-top: 2px;
    text-align: left;
    white-space: nowrap;
    width: 16px; }

/* line 234, ../../../app/stylesheets/g_context_modules.sass */
#context_modules.editable .context_module_item.after_current_position {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }
  /* line 236, ../../../app/stylesheets/g_context_modules.sass */
  #context_modules.editable .context_module_item.after_current_position .title {
    display: inline-block; }
  /* line 238, ../../../app/stylesheets/g_context_modules.sass */
  #context_modules.editable .context_module_item.after_current_position .locked_title {
    display: none; }

/* line 241, ../../../app/stylesheets/g_context_modules.sass */
.module_item_select {
  max-height: 150px;
  max-width: 300px;
  min-height: 75px;
  min-width: 200px; }

/* line 247, ../../../app/stylesheets/g_context_modules.sass */
.context_module_item {
  width: 100%; }
  /* line 248, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .item_name {
    vertical-align: top; }
    /* line 250, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item .item_name .title {
      padding-left: 5px;
      display: inline-block;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 0.9em; }
    /* line 256, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item .item_name .locked_title {
      display: none; }
  /* line 259, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .move_item_link, .context_module_item .links a {
    visibility: hidden; }
  /* line 263, ../../../app/stylesheets/g_context_modules.sass */
  .locked_module .context_module_item .title {
    display: none; }
  /* line 265, ../../../app/stylesheets/g_context_modules.sass */
  .locked_module .context_module_item .locked_title {
    display: inline-block; }
  /* line 269, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_sub_header .title {
    display: none; }
  /* line 271, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_sub_header .type_icon {
    width: 0px; }
  /* line 273, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_sub_header .criterion img {
    display: none; }
  /* line 275, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_sub_header .locked_title {
    display: inline-block;
    font-weight: bold;
    color: #888888; }
  /* line 279, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item .links {
    width: 80px;
    vertical-align: top;
    padding-top: 2px; }
  /* line 283, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item.context_module_item_hover, .context_module_item:hover {
    background-color: #ebedee; }
    /* line 285, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item.context_module_item_hover .move_item_link, .context_module_item.context_module_item_hover .links a, .context_module_item:hover .move_item_link, .context_module_item:hover .links a {
      visibility: visible; }
  /* line 288, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item td.points_possible_display, .context_module_item td.due_date_display {
    padding-top: 5px;
    vertical-align: top;
    color: #888888;
    font-size: 0.8em;
    text-align: left;
    white-space: nowrap; }
  /* line 295, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item td.points_possible_display {
    padding-right: 15px;
    width: 40px; }
    /* line 298, ../../../app/stylesheets/g_context_modules.sass */
    .context_module_item td.points_possible_display .points_possible_block {
      display: inline-block;
      text-align: right;
      min-width: 25px; }
  /* line 302, ../../../app/stylesheets/g_context_modules.sass */
  .context_module_item td.due_date_display {
    padding-right: 5px;
    padding-left: 15px;
    width: 40px; }

/* line 307, ../../../app/stylesheets/g_context_modules.sass */
.context_module_placeholder {
  height: 15px;
  border: 1px dashed #888888;
  margin: 3px 0; }

/* line 313, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_list .student {
  margin-bottom: 10px; }
  /* line 315, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_list .student .name {
    font-weight: bold;
    font-size: 1.2em; }
  /* line 319, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_list .student .module_list li.completed {
    color: #888888; }
  /* line 321, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_list .student .module_list li.started, #student_progression_list .student .module_list li.unlocked {
    font-weight: bold; }

/* line 324, ../../../app/stylesheets/g_context_modules.sass */
.context_module .context_module_items {
  border-collapse: collapse; }
  /* line 327, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .context_module_items .context_module_item .move_item_link {
    display: none; }
  /* line 329, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .context_module_items .context_module_item .completion_status {
    display: inline; }
  /* line 331, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .context_module_items .context_module_item .links a {
    display: none; }
  /* line 335, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .context_module_items.manageable .context_module_item .move_item_link {
    display: inline; }
  /* line 337, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .context_module_items.manageable .context_module_item .completion_status {
    display: none; }
  /* line 339, ../../../app/stylesheets/g_context_modules.sass */
  .context_module .context_module_items.manageable .context_module_item .links a {
    display: inline; }

/* line 344, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_dialog .module_progressions .icon i {
  display: none; }
/* line 346, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_dialog .module_progressions th {
  text-align: left;
  font-size: 1.2em; }
/* line 349, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_dialog .module_progressions td {
  vertical-align: middle; }
  /* line 351, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_dialog .module_progressions td.icon {
    width: 20px; }
  /* line 353, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_dialog .module_progressions td.progress {
    white-space: nowrap;
    padding-right: 5px; }
  /* line 356, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_dialog .module_progressions td.details {
    font-size: 1.5em;
    padding: 2px 15px 2px 5px; }
/* line 361, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_dialog .module_progressions tr.in_progress td.details {
  font-weight: bold; }
/* line 363, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_dialog .module_progressions tr.completed {
  color: #888888; }
  /* line 365, ../../../app/stylesheets/g_context_modules.sass */
  #student_progression_dialog .module_progressions tr.completed .icon-check {
    opacity: 0.5;
    display: block; }
/* line 369, ../../../app/stylesheets/g_context_modules.sass */
#student_progression_dialog .module_progressions tr.locked .icon-lock {
  display: block; }

/* line 373, ../../../app/stylesheets/g_context_modules.sass */
div.completion_criterion_option select.assignment_picker {
  width: 160px; }

/* line 378, ../../../app/stylesheets/g_context_modules.sass */
body.ie div.completion_criterion_option select.assignment_picker {
  width: auto; }
