/* line 6, ../../../app/stylesheets/login.sass */
body.modal #footer {
  display: block !important;
  width: 643px;
  margin: 20px auto; }
/* line 11, ../../../app/stylesheets/login.sass */
body.modal #main {
  background-color: transparent;
  border: 0 none;
  margin: 0;
  padding: 0;
  max-width: none; }
/* line 18, ../../../app/stylesheets/login.sass */
body.modal #modal-box, body.modal #login-box {
  box-shadow: 0 4px 20px -2px black;
  margin: 75px auto 20px;
  position: relative; }
  /* line 22, ../../../app/stylesheets/login.sass */
  body.modal #modal-box .icon_url, body.modal #login-box .icon_url {
    width: 72px;
    height: 72px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px; }
  /* line 28, ../../../app/stylesheets/login.sass */
  body.modal #modal-box ul, body.modal #login-box ul {
    list-style-type: none; }
  /* line 31, ../../../app/stylesheets/login.sass */
  body.modal #modal-box .btn, body.modal #login-box .btn {
    float: right;
    padding: 10px 36px;
    margin: 2px 7px 0 0;
    font-size: 15px; }
  /* line 37, ../../../app/stylesheets/login.sass */
  body.modal #modal-box .button_box, body.modal #login-box .button_box {
    text-align: right;
    margin-right: 7px;
    width: 100%; }
    /* line 41, ../../../app/stylesheets/login.sass */
    body.modal #modal-box .button_box .btn, body.modal #login-box .button_box .btn {
      float: none; }
/* line 44, ../../../app/stylesheets/login.sass */
body.modal #modal-box {
  border: 1px solid #888888;
  border-top-color: #cccccc;
  width: 583px;
  padding: 40px;
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e2e2e2);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e2e2e2);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e2e2e2);
  background-image: -o-linear-gradient(top, #f4f4f4, #e2e2e2);
  background-image: linear-gradient(top, #f4f4f4, #e2e2e2); }
  /* line 50, ../../../app/stylesheets/login.sass */
  body.modal #modal-box .bootstrap-form {
    margin: 0 20px 20px; }
    /* line 51, ../../../app/stylesheets/login.sass */
    body.modal #modal-box .bootstrap-form p.instructions {
      font-weight: bold;
      text-align: center;
      margin: 1.5em 0; }
    /* line 56, ../../../app/stylesheets/login.sass */
    body.modal #modal-box .bootstrap-form .btn-large {
      float: none;
      width: 220px; }
  /* line 59, ../../../app/stylesheets/login.sass */
  body.modal #modal-box h2, body.modal #modal-box .h2 {
    background: transparent url(/images/canvas-dark.png) right 6px no-repeat;
    margin: 0 20px;
    padding: 5px 230px 0 0;
    min-height: 35px; }
    /* line 64, ../../../app/stylesheets/login.sass */
    body.modal #modal-box h2:after, body.modal #modal-box .h2:after {
      content: " ";
      display: block;
      margin: 1em -250px 1em -20px;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid white;
      height: 0; }
  /* line 71, ../../../app/stylesheets/login.sass */
  body.modal #modal-box.login-box {
    background-color: #4b555d;
    background: url("/images/Money_Noise_tm.png"), -ms-radial-gradient(50% -100px, circle cover, rgba(255, 255, 255, 0.6) 0%, transparent 100%), -ms-linear-gradient(top, #59656e, #3e464c);
    background: url('/images/Money_Noise_tm.png?1375549060'), -webkit-gradient(radial, 50% -100px, 0, 50% -100px, 100, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, transparent)), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #59656e), color-stop(100%, #3e464c));
    background: url('/images/Money_Noise_tm.png?1375549060'), -webkit-radial-gradient(50% -100px, circle cover, rgba(255, 255, 255, 0.6) 0%, transparent 100%), -webkit-linear-gradient(top, #59656e, #3e464c);
    background: url('/images/Money_Noise_tm.png?1375549060'), -moz-radial-gradient(50% -100px, circle cover, rgba(255, 255, 255, 0.6) 0%, transparent 100%), -moz-linear-gradient(top, #59656e, #3e464c);
    background: url('/images/Money_Noise_tm.png?1375549060'), -o-radial-gradient(50% -100px, circle cover, rgba(255, 255, 255, 0.6) 0%, transparent 100%), -o-linear-gradient(top, #59656e, #3e464c);
    background: url('/images/Money_Noise_tm.png?1375549060'), radial-gradient(50% -100px, circle cover, rgba(255, 255, 255, 0.6) 0%, transparent 100%), linear-gradient(top, #59656e, #3e464c);
    height: 331px;
    width: 623px;
    padding: 20px;
    color: #b3b3b3;
    border: none; }
    /* line 84, ../../../app/stylesheets/login.sass */
    body.modal #modal-box.login-box h1, body.modal #modal-box.login-box .h1 {
      height: 107px;
      margin: 0 0 50px;
      background-color: transparent;
      background-image: url("/images/canvas.png");
      background-repeat: no-repeat;
      background-position: 68px 46px;
      text-indent: -999em; }
      @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
        /* line 84, ../../../app/stylesheets/login.sass */
        body.modal #modal-box.login-box h1, body.modal #modal-box.login-box .h1 {
          background-image: url("/images/canvas@2x.png");
          background-size: 136px 33px; } }
    /* line 89, ../../../app/stylesheets/login.sass */
    body.modal #modal-box.login-box a {
      color: #64b9f9 !important; }
      /* line 91, ../../../app/stylesheets/login.sass */
      body.modal #modal-box.login-box a:hover {
        text-decoration: underline; }
    /* line 94, ../../../app/stylesheets/login.sass */
    body.modal #modal-box.login-box input.text {
      background: url(/images/login-input-bg.png) no-repeat;
      border: 0 none;
      font-size: 13px;
      padding: 19px 9px 18px 22px;
      width: 204px;
      color: #303030;
      margin: 0 6px 6px 0;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none; }
    /* line 103, ../../../app/stylesheets/login.sass */
    body.modal #modal-box.login-box .radio_spacer {
      width: 25px;
      display: inline-block; }

/* line 109, ../../../app/stylesheets/login.sass */
body.webkit #modal-box.login-box input.text {
  background: #f6f6f6 none;
  border: 6px solid rgba(255, 255, 255, 0.25);
  border-radius: 7px;
  padding: 12px 9px 12px 17px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  width: 197px; }

/* line 118, ../../../app/stylesheets/login.sass */
#login_form {
  margin: 0 auto;
  width: 487px; }
  /* line 121, ../../../app/stylesheets/login.sass */
  #login_form .login-options {
    float: left;
    line-height: 1.75em; }
    /* line 122, ../../../app/stylesheets/login.sass */
    #login_form .login-options input {
      margin-left: 0; }

/* line 127, ../../../app/stylesheets/login.sass */
body.modal #forgot_password_form {
  margin: 0 auto;
  width: 455px; }
  /* line 130, ../../../app/stylesheets/login.sass */
  body.modal #forgot_password_form .btn {
    margin: 7px 0;
    float: none;
    padding: 10px 24px; }

/* line 135, ../../../app/stylesheets/login.sass */
span.field-with-fancyplaceholder {
  display: block;
  display: inline-block;
  position: relative;
  vertical-align: top; }
  /* line 141, ../../../app/stylesheets/login.sass */
  span.field-with-fancyplaceholder label {
    display: none; }
    /* line 143, ../../../app/stylesheets/login.sass */
    span.field-with-fancyplaceholder label.placeholder {
      display: inline;
      color: #999999;
      cursor: text;
      pointer-events: none; }
      /* line 149, ../../../app/stylesheets/login.sass */
      span.field-with-fancyplaceholder label.placeholder span {
        position: absolute;
        z-index: 2;
        -webkit-user-select: none;
        padding: 19px 22px 18px 24px; }
    /* line 155, ../../../app/stylesheets/login.sass */
    span.field-with-fancyplaceholder label.focus {
      color: #cccccc; }
  /* line 159, ../../../app/stylesheets/login.sass */
  span.field-with-fancyplaceholder input:-webkit-autofill {
    background-color: transparent !important; }
  /* line 162, ../../../app/stylesheets/login.sass */
  span.field-with-fancyplaceholder input {
    outline: none; }
    /* line 164, ../../../app/stylesheets/login.sass */
    span.field-with-fancyplaceholder input.invalid {
      background: #ffffc5;
      color: #ff3300; }
    /* line 168, ../../../app/stylesheets/login.sass */
    span.field-with-fancyplaceholder input.editing {
      color: black;
      background: none repeat scroll 0 0 transparent;
      overflow: hidden; }

/* line 173, ../../../app/stylesheets/login.sass */
#register_link {
  position: absolute;
  display: block;
  background: url(/images/fft_ribbon.png) no-repeat;
  padding-top: 10px;
  width: 232px;
  height: 52px;
  right: -13px;
  top: 56px;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.25; }
  /* line 185, ../../../app/stylesheets/login.sass */
  #register_link i, #register_link b {
    display: block; }
  /* line 187, ../../../app/stylesheets/login.sass */
  #register_link i {
    color: #444444;
    font-style: normal;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }
  /* line 191, ../../../app/stylesheets/login.sass */
  #register_link b {
    font-weight: normal;
    color: white; }
  /* line 194, ../../../app/stylesheets/login.sass */
  #register_link:hover {
    background-position: 0 -63px;
    text-decoration: none !important; }

/* line 198, ../../../app/stylesheets/login.sass */
#unauthorized_holder {
  box-shadow: 0 4px 20px -2px black;
  margin: 30px auto 20px;
  width: 663px; }
  /* line 202, ../../../app/stylesheets/login.sass */
  #unauthorized_holder #modal-box.login-box {
    margin: 0;
    box-shadow: none; }
  /* line 205, ../../../app/stylesheets/login.sass */
  #unauthorized_holder #unauthorized_message {
    margin: 0;
    width: auto;
    padding: 15px 20px;
    line-height: 1.2; }
    /* line 210, ../../../app/stylesheets/login.sass */
    #unauthorized_holder #unauthorized_message.ui-state-error:before {
      top: 15px; }
    /* line 212, ../../../app/stylesheets/login.sass */
    #unauthorized_holder #unauthorized_message h2, #unauthorized_holder #unauthorized_message .h2 {
      height: 41px;
      margin: 0 0 -5px 0;
      padding: 0 0 0 60px;
      color: black; }
    /* line 217, ../../../app/stylesheets/login.sass */
    #unauthorized_holder #unauthorized_message p {
      padding: 0 0 0 60px;
      margin: 0;
      font-size: 1.25em;
      font-weight: normal; }
