/* Selectmenu
----------------------------------*/
/* line 4, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu {
  display: block;
  display: inline-block;
  position: relative;
  height: 2.2em;
  vertical-align: middle;
  text-decoration: none;
  overflow: hidden;
  zoom: 1; }

/* line 5, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-icon {
  position: absolute;
  right: 6px;
  margin-top: -8px;
  top: 50%; }

/* line 6, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  display: none;
  z-index: 1005; }

/* z-index: 1005 to make selectmenu work with dialog */
/* line 7, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: auto;
  overflow-y: auto;
  overflow-x: hidden; }

/* line 8, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-open {
  display: block; }

/* line 9, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu-popup {
  margin-top: -1px; }

/* line 10, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li {
  padding: 0;
  margin: 0;
  display: block;
  border-top: 1px dotted transparent;
  border-bottom: 1px dotted transparent;
  border-right-width: 0 !important;
  border-left-width: 0 !important;
  font-weight: normal !important; }

/* line 11, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li a, .ui-selectmenu-status {
  line-height: 1.4em;
  display: block;
  padding: .405em 2.1em .405em 1em;
  outline: none;
  text-decoration: none; }

/* line 12, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled {
  cursor: default; }

/* line 14, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status {
  padding-left: 20px;
  position: relative;
  margin-left: 5px; }

/* line 15, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
  position: absolute;
  top: 1em;
  margin-top: -8px;
  left: 0; }

/* line 16, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-status {
  line-height: 1.4em; }

/* line 17, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li span, .ui-selectmenu-status span {
  display: block;
  margin-bottom: .2em; }

/* line 18, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-header {
  font-weight: bold; }

/* line 19, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu li .ui-selectmenu-item-footer {
  opacity: .8; }

/* for optgroups */
/* line 21, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu .ui-selectmenu-group {
  font-size: 1em; }

/* line 22, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
  line-height: 1.4em;
  display: block;
  padding: .6em .5em 0;
  font-weight: bold; }

/* line 23, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu .ui-selectmenu-group ul {
  margin: 0;
  padding: 0; }

/* IE7 workaround (opacity disabled) */
/* line 25, ../../../app/stylesheets/ui.selectmenu.scss */
* + html .ui-state-disabled, * + html .ui-state-disabled a {
  color: silver; }

/* line 28, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu a {
  color: #0088cc;
  text-shadow: none; }

/* line 34, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu .ui-state-focus, .ui-selectmenu-menu .ui-state-hover {
  background-color: #05a6ea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0abeff), to(#008fd6));
  background-image: -webkit-linear-gradient(top, #0abeff, #008fd6);
  background-image: -moz-linear-gradient(top, #0abeff, #008fd6);
  background-image: -ms-linear-gradient(top, #0abeff, #008fd6);
  background-image: -o-linear-gradient(top, #0abeff, #008fd6);
  background-image: linear-gradient(top, #0abeff, #008fd6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0abeff',EndColorStr='#008fd6')";
  zoom: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
  /* line 24, ../../../app/stylesheets/mixins/_misc.sass */
  .ie9 .ui-selectmenu-menu .ui-state-focus, .ie9 .ui-selectmenu-menu .ui-state-hover {
    border-radius: 0 !important; }
/* line 41, ../../../app/stylesheets/ui.selectmenu.scss */
.ui-selectmenu-menu .ui-state-hover > .ui-selectmenu-item > a,
.ui-selectmenu-menu .ui-state-hover > a,
.ui-selectmenu-menu a.ui-state-focus {
  color: white; }
