/* line 4, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
#editCalendarEventFull label.label_with_checkbox {
  margin-bottom: 10px; }
  /* line 6, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull label.label_with_checkbox input[type="checkbox"] {
    margin: 0 5px 0 0; }
/* line 8, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
#editCalendarEventFull .date_start_end_row {
  overflow: hidden;
  *zoom: 1; }
  /* line 10, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row th, #editCalendarEventFull .date_start_end_row td {
    vertical-align: top;
    padding: 0 5px 0 0; }
    /* line 13, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
    #editCalendarEventFull .date_start_end_row th:first-child, #editCalendarEventFull .date_start_end_row td:first-child {
      padding-left: 0px; }
    /* line 15, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
    #editCalendarEventFull .date_start_end_row th label.row_header, #editCalendarEventFull .date_start_end_row td label.row_header {
      padding-top: 10px; }
  /* line 17, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row input[type="text"], #editCalendarEventFull .date_start_end_row div.input-append {
    margin-bottom: 0px; }
  /* line 19, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row span {
    float: left;
    padding: 0 5px;
    min-height: 40px; }
  /* line 23, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row label {
    font-weight: bold; }
  /* line 25, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row .date_field {
    width: 120px; }
  /* line 27, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row .time_field {
    width: 95px; }
  /* line 29, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row .time_separator {
    width: 6px;
    line-height: 28px;
    padding: 0px;
    text-align: center; }
  /* line 34, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
  #editCalendarEventFull .date_start_end_row .datetime_suggest {
    margin-top: 0px;
    padding-top: 0px; }
/* line 37, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
#editCalendarEventFull .show_if_using_sections {
  display: none; }
/* line 40, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
#editCalendarEventFull.use_section_dates .show_if_using_sections {
  display: block; }
/* line 42, ../../../../app/stylesheets/calendar/editCalendarEventFull.sass */
#editCalendarEventFull.use_section_dates .hide_if_using_sections {
  display: none; }
